@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', sans-serif;
}

/* Grid animation */
@keyframes gridMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.navbar {
  background: rgba(10, 25, 47, 0.7) !important;
}

.grid-animation {
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: gridMove 5s linear infinite;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Fix for scrolling */
html, body {
  overflow-x: hidden; /* Remove horizontal scroll */
  overflow-y: auto;   /* Allow vertical scroll */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Prevent accidental horizontal scroll */
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} 

/* Glowing animation for text */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.8), 0 0 20px rgba(255, 165, 0, 0.6), 0 0 30px rgba(255, 165, 0, 0.4);
    color: rgba(255, 165, 0, 0.9);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 165, 0, 1), 0 0 40px rgba(255, 165, 0, 0.8), 0 0 60px rgba(255, 165, 0, 0.6);
    color: rgba(255, 165, 0, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.8), 0 0 20px rgba(255, 165, 0, 0.6), 0 0 30px rgba(255, 165, 0, 0.4);
    color: rgba(255, 165, 0, 0.9);
  }
}

/* Using the defined animation in Tailwind-compatible class */
.glowing-text {
  animation: glow 2s ease-in-out infinite alternate;
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}